---
layout: default
title: "Tools Catalog"
teaser: "Software tools developed with the contribution from QIICR."
breadcrumb: true
header:
   image_fullwidth: header_unsplash_8.jpg
permalink: "tools.html"
---

<div id="tools-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

    <p><strong>Note: QIICR tools catalog is under construction</strong></p>

    <h2>Software development strategy and other notes</h2>

    <p>Our strategy is to identify and fill gaps in informatics technology as necessary to help with the adoption of quantitative imaging tools and DICOM standard in medical imaging research. We are not aiming to develop a single product or platform. Instead, as the first option, if and when it is appropriate and feasible, we aim to contribute new or missing functionality to the tools and toolkits. As a result QIICR tools span a range of projects, starting from existing, broadly adopted platforms, such as _DCMTK_ and _3D Slicer_, to new libraries, such as _dcmqi_.</p>

    <p>As a result of our development strategy, many of the tools developed in our projects are the result of collaborative work involving a number of geographically distributed partners. Groups that have been collaborating with QIICR, which were not part of the immediate project team, to develop some of the tools listed below include OFFIS Institute for Information Technology (Germany), Kitware Inc., Queen's University Perk Lab (Canada), Stony Brook University Department of Biomedical Informatics, among others.</p>

    <p>Source code for all of the software tools developed by QIICR is available under non-restrictive license that permits reuse including in closed source products! See license for individual source code repositories for per-project details.</p>

    <p> The list below summarizes the main tools developed by our project, that are accompanied by documentation, have been evaluated and are intended for general consumption. To see all of the items developed under the auspices of QIICR, check out the <a href="https://github.com/qiicr">QIICR GitHub organization</a>. </p>
    <p> Click on a headline to read the teaser.</p>
		<dl class="accordion" data-accordion>
			{% assign counter = 1 %}
			{% for post in site.categories["tool"] limit:1000 %}
			<dd class="accordion-navigation">
			<a href="#panel{{ counter }}"><span class="iconfont"></span> {% if post.subheadline %}{{ post.subheadline }} › {% endif %}<strong>{{ post.title }}</strong></a>
				<div id="panel{{ counter }}" class="content">
					  {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
					  <a href="{{ site.url }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a><br><br>
				</div>
			</dd>
			{% assign counter=counter | plus:1 %}
			{% endfor %}
		</dl>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
